[submodule "src/qhull"]
	path = src/qhull
	url = https://github.com/surt91/qhull.git
[submodule "src/tclap"]
	path = src/tclap
	url = https://github.com/mirror/tclap.git
[submodule "src/Catch"]
	path = src/Catch
	url = https://github.com/surt91/Catch.git
[submodule "src/benchmark"]
	path = src/benchmark
	url = https://github.com/surt91/benchmark.git
[submodule "glue++"]
	path = glue++
	url = https://github.com/surt91/glue-.git
