[submodule "src/qhull"]
	path = src/qhull
	url = git@github.com:surt91/qhull.git
[submodule "src/tclap"]
	path = src/tclap
	url = git@github.com:mirror/tclap.git
[submodule "src/Catch"]
	path = src/Catch
	url = git@github.com:surt91/Catch.git
