build/
tmp/
*~

.idea/

lit/

images/

py2
RandomWalkMetropolis*
RandomWalkWL*
RealRandomWalkMetropolis
GaussWalk*
M*GRW3D
RandomWalkFWL*
passage*/
html/
gallery/
src/svg/
_build/
trash

*/cache*.p
bench*.gz
